.Home {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   height: 100%;
}

.Home h2 {
   font-size: 2rem;
}

.Home img {
   max-width: 200px;
   border-radius: 50%;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Home p {
   font-size: 1.2rem;
   line-height: 1.5;
   text-align: justify;
   max-width: 800px;
}

.about-container {
   width: 100%;
}

.about-content {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 1rem;
}

.about-text {
   flex: 1;
   min-width: 300px;
}

@media (max-width: 768px) {
   .about-content {
      flex-direction: column;
      align-items: center;
   }
}
