.App-header {
   background-color: #282c34;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem;
}

.navbar h1 {
   font-size: 3rem;
   margin-bottom: 0;
}

nav {
   display: flex;
   gap: 1rem;
}

.icons {
   display: flex;
   gap: 1rem;
}

button,
a {
   background-color: #d1f2fc;
   border: none;
   color: rgb(14, 2, 2);
   cursor: pointer;
   font-size: 1rem;
   padding: 0.5rem 1rem;
   border-radius: 4px;
   transition: background-color 0.2s;
   text-decoration: none;
}

button:hover,
a:hover {
   background-color: #4aa0c7;
}

i {
   font-size: 1.5rem;
}
