.Projects {
   padding: 2rem;
}

.Projects h2 {
   font-size: 2rem;
   margin-bottom: 1rem;
}

.Projects ul {
   list-style-type: none;
   padding: 0;
}

.Projects li {
   font-size: 1.2rem;
   margin-bottom: 1rem;
}
