.Skills {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}

.Skills h2 {
   font-size: 2rem;
}

.Skills ul {
   list-style-type: none;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   justify-content: center;
}

.Skills li {
   font-size: 1.2rem;
   background-color: #f3f3f3;
   padding: 1rem;
   border-radius: 4px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   max-width: 300px;
}
