.Skills {
   padding: 2rem;
}

.Skills h2 {
   font-size: 2rem;
   margin-bottom: 1rem;
}

.Skills ul {
   list-style-type: none;
   padding: 0;
}

.Skills li {
   font-size: 1.2rem;
   margin-bottom: 1rem;
}
